<div class="formgrid grid">
  <div class="field col-12">
    <h1>Static text in placeholder</h1>
  </div>

  <div class="field col-12 md:col-6">
    <h2>Basic</h2>
    <p-multiSelect [options]="cities" [(ngModel)]="staticSelectedCities" optionLabel="name"
                   placeholder="Select a City"></p-multiSelect>
  </div>

  <div class="field col-12">
    <h1>Dynamic text in placeholder (with pipe)</h1>
  </div>

  <div class="field col-12 md:col-6">
    <h2>Basic</h2>
    <p-multiSelect [options]="cities" [(ngModel)]="dynamicSelectedCities" optionLabel="name"
                   placeholder="Select a City"></p-multiSelect>
  </div>
</div>
